html {
  scroll-behavior: smooth;
}

.navigation_mobile {
  display: none;
}

.header-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #111418;
  position: fixed;
  height: 100%;
  overflow: auto;
  padding-top: 20px;
}

.options {
  display: block;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
}

.prof-image {
  width: 150px;
  height: 140px;
  border-radius: 50%;
  border: 15px solid #343a40;

  margin-top: 10%;
}

.name {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 2.1rem !important;
}

.header-nav .options {
  margin-top: 4%;
}

.header-nav {
  text-align: center;
}

.option-1 {
  padding-top: 70%;
}

.social-icons {
  display: inline-flex;
  margin-top: 75%;
}

.icons {
  color: white;
}


.icons {
  color: #aab1b8 !important;
}

.social-icons li {
  margin-left: 20px;
}

.app2 {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  margin-left: 15%;
}

.home-page-background {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg');
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  min-height: 100vh;
  transition: background-image .3s ease-in .2s;
}

.welcome {
  margin-left: 52%;
  color: white;
  font-size: 39px;
  padding-top: 17%;
}

.fas {
  margin-left: 56%;
  color: #fff;
  font-size: 30px;
  position: relative;
  padding-top: 20%;
  animation-name: arrowdown;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  font-weight: 100;
  opacity: 1;
}

@keyframes arrowdown {
  0% {
    top: 0px;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(40px);
  }
}

.about-me {
  width: 100%;
  height: 800px;
  background-color: #212529;
}

.about-me-text {
  text-transform: uppercase;
  opacity: .1;
  color: #6c757d !important;
  margin-left: 7%;
  text-align: center;
  font-size: 120px;
  font-weight: 600;
  padding-top: 5%;
}

.about-me-2 {
  color: white !important;
  text-align: center;
  margin-top: -8%;
  margin-left: 100px;
  font-size: 40px;
  font-weight: 600;
  padding: 10px 20px;
  position: relative;
}

.about-me-2:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 43%;
  width: 13%;
  border-bottom: 3px solid #20c997;
}

.about-me-3 {
  margin-left: 25%;
  color: #fff;
  margin-top: 5%;
  font-size: 1.75rem;
  font-weight: 600;
  width: 50%;
}

.about-me-3 span {
  color: #20c997;
}

.about-me-4 {
  color: hsla(0, 0%, 100%, .5) !important;
  width: 45%;
  margin-left: 25%;
  line-height: 1.8;
  font-size: 18px;
}

.delivering {
  margin-top: 10px;
}

.about-table ul {
  color: #fff;
  float: right;
  margin-right: 75px;
  margin-top: -284px;
  list-style: none;

}

.about-table ul li {
  margin-top: 20px;
  font-size: 20px;
  border-bottom: 1px solid hsla(0, 0%, 98%, .12);
  padding-bottom: 10px;
}

.about-table ul li span {
  font-weight: 600;
}

.about-table ul li a {
  text-decoration: none;
  color: #20c997;
}

.about-table ul li:nth-child(4) {
  border: none;
}

.cv-button {
  padding: 15px 40px;
  border: none;
  border-radius: 30px;
  margin-top: 20px;
  background-color: #20c997;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  transition: all .5s;
}

.cv-button:hover {
  color: #fff;
  background-color: #1baa80;
  cursor: pointer;
}

.header-nav li a {
  text-decoration: none;
  color: #fff;
  transition: all .5s;
}

.header-nav li a:hover {
  color: #20c997;
}

.counter {
  padding-left: 100px;
  color: #fff;
  font-size: 40px;
  width: 30%;
  border-right: 1px solid white;
}

.counter span {
  font-size: 4rem;
}

.counters {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

.counter-2 {
  color: #fff;
  font-size: 40px;
  width: 20%;

}

.counter-2 span {
  margin-left: 2%;
  font-size: 4rem;
}

.counter-2 h4 {
  color: #dee3e4;
}

.counter h4 {
  color: #dee3e4;
}

.counter-2 span {
  color: hsla(0, 0%, 100%, .5);
}

.counter span {
  color: hsla(0, 0%, 100%, .5);
}

.what-i-do {
  width: 100%;
  padding-bottom: 60px;
  background-color: #343a40 !important;
}

.what-i-do-2 {
  color: white !important;
  margin-left: 47%;
  margin-top: -8%;
  font-size: 40px;
  font-weight: 600;
  padding: 10px 20px;
  position: relative;
}

.what-i-do-2:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 5%;
  width: 13%;
  border-bottom: 3px solid #20c997;
}

.react {
  margin-left: 25%;
  margin-top: 5%;
  color: #fff;
}

.react p {
  color: hsla(0, 0%, 100%, .5) !important;
}

.react {
  display: flex;
}

.react-img {
  width: 4%;
  height: 2%;
  border-radius: 5px;
  margin-top: 7px;
  background-color: #212529;
  padding: 10px;
  margin-left: 6%;
}

.react-info {
  margin-left: 1%;
}

.react-img-2 {
  width: 4%;
  height: 2%;
  border-radius: 5px;
  margin-top: 7px;
  background-color: #212529;
  padding: 10px;
  margin-left: 25%;
}


.resume {
  width: 100%;
  height: 1600px;
  background-color: #212529;
}

.resume-back-text {
  text-transform: uppercase;
  opacity: .1;
  color: #6c757d !important;
  margin-left: 7%;
  text-align: center;
  font-size: 120px;
  font-weight: 600;
  padding-top: 5%;
}

.what-i-do-2 {
  color: white !important;
  margin-left: 47%;
  margin-top: -8%;
  font-size: 40px;
  font-weight: 600;
  padding: 10px 20px;
  position: relative;
}

.what-i-do-2:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 5%;
  width: 13%;
  border-bottom: 3px solid #20c997;
}

.resume-front {
  color: white !important;
  margin-left: 49%;
  margin-top: -8%;
  font-size: 40px;
  font-weight: 600;
  padding: 10px 20px;
  position: relative;
}

.resume-front:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 6%;
  width: 8%;
  border-bottom: 3px solid #20c997;
}


.ex-ed {
  margin-left: 21%;
  color: #fff;
  display: flex;
  margin-top: 50px;
}

.ex-ed .education {
  font-size: 1.5rem;
  font-weight: 600;
}

.ex-ed .experience {
  margin-left: 14%;
  font-size: 1.5rem;
  font-weight: 600;
}

.first-education {
  margin-top: 3rem;
  background-color: #111418;
  width: 474px;
  height: 230px;
  border-radius: 10px;
  padding-top: 30px;
}

.date {
  font-size: .775rem;
  border: 1px solid #1baa80;
  width: 105px;
  padding-left: 10px !important;
  padding: 5px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: #1baa80;
}

.degree {
  margin-left: 20px;
  margin-top: 10px;
}

.institution {
  font-size: 17px;
  margin-left: 23px;
  font-weight: 400;
  margin-top: 10px;
  color: #1baa80;
}

.date-2 {
  font-size: .775rem;
  border: 1px solid #1baa80;
  width: 100px;
  padding-left: 18px !important;
  padding: 5px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: #1baa80;
}

.education p {
  font-size: 16px;
  margin-top: 10px;
  margin-left: 25px;
  font-weight: 500;
  padding-right: 20px;
  color: hsla(0, 0%, 100%, .5) !important;
}

.experience p {
  font-size: 16px;
  margin-top: 10px;
  margin-left: 25px;
  font-weight: 500;
  padding-right: 20px;
  color: hsla(0, 0%, 100%, .5) !important;
}

.skills {
  margin-left: 21%;
  color: #fff;
  display: flex;
  margin-top: 4%;
}

.skills .myskills {
  font-size: 1.5rem;
  font-weight: 600;
}

.skill-name-perc {
  margin-top: 30px;
  font-size: 1rem;
  color: #dee3e4;
}

.skill-name-perc span {
  margin-left: 80%;
}

.skill-perc {
  width: 450px;
  height: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #111418;
}

.skills .skils-2 {
  margin-left: 18%;

}

.skils-2 h1 {
  visibility: hidden;
}

.skill-perc-2 {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  background-color: #20c997;
}

.skils-2 {
  margin-top: 30px;
}

.testimonial {
  background-color: #343a40;
  height: 800px;
}

.testimonoal-text {
  text-transform: uppercase;
  opacity: .1;
  color: #6c757d !important;
  margin-left: 7%;
  text-align: center;
  font-size: 120px;
  font-weight: 600;
  padding-top: 5%;
}

.get-in-touch {
  color: white !important;
  margin-left: 47%;
  margin-top: -120px;
  font-size: 40px;
  font-weight: 600;
  padding: 10px 20px;
  position: relative;
}

.get-in-touch:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 7%;
  width: 13%;
  border-bottom: 3px solid #20c997;
}

.mobile-number {
  margin-left: 30%;
  margin-top: 10rem;
  font-size: 1rem;
  display: flex;

}

.mobile-number i {
  color: #1baa80;
  margin-top: 5px;
  font-size: 1.5rem;
  margin-right: 10px;
}

.mobile-number .number {
  color: #dee3e4;

}

.mail {
  margin-left: 30%;
  display: flex;
  font-size: 1rem;
  margin-top: 1rem;
}

.mail i {
  color: #1baa80;
  margin-top: 5px;
  font-size: 1.5rem;
  margin-right: 10px;
}

.mail .number {
  color: #dee3e4;
}

.follow-me {
  margin-top: 2rem;
  text-transform: uppercase;
  font-size: 1.3125rem !important;
  color: #dee3e4;
  text-align: center;
}

.share-icons {
  margin-left: -3.5rem;
  margin-top: 1rem;
}

.icons-2 {
  font-size: 20px;
  margin-left: 1.5rem;
}

.personal-info {
  width: 300px;
  margin-left: 25%;
}

.form {
  width: 300px;
  margin-left: 55%;
  margin-top: -200px;
}

.name-form {
  background: #232a31;
  border-color: #232a31;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 10px 50px 10px 20px;
}

.email-form {
  padding: 10px 50px 10px 20px;
  background: #232a31;
  border: none;
  border-color: #232a31;
  color: #fff;
  border-radius: 5px;
  margin-left: 20px;
}

.form-1 {
  display: flex;
}

.textarea {
  padding: 10px 348px 30px 20px;
  margin-top: 20px;
  background: #232a31;
  border-color: #232a31;
  border: none;
  color: #fff;
  border-radius: 5px;
}

.submit-button {
  margin-top: 10px;
  margin-left: 12.5rem;
  padding: 10px 80px;
  border-radius: 30px;
  background-color: #20c997;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}

@media (width:1656px) {
  .bootstrap-image {
    margin-left: 225px !important;
  }
}

.footer {
  height: 150px;
  width: 100%;
  background-color: #212529;
}

.copy-right {
  margin-left: 25%;
}

.social-icons {
  padding: 0 !important;
}

.copy-right {
  color: hsla(0, 0%, 98%, .8);
  padding-top: 70px;
  font-weight: 600;
}

.copy-right span {
  color: #20c997;
}

.term-desc-btn {
  background-color: transparent;
  color: white;
  margin-left: 75%;
  border: none;
  margin-top: -100px;
  width: 100%;
  margin-left: 20px;
}

.modal-body {
  background-color: #111418;
  color: #dee3e4;
}

.modal-footer {
  background-color: #111418;
}

.term-desc-btn:hover {
  background-color: transparent;
}

.footer-btns {
  display: flex;
  margin-left: 70%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

.header-nav .active a {
  color: #20c997 !important;
}

.navbar {
  padding: 15px;
  display: none;
  background-color: #111418;
  color: #fff;
}

.name2 {
  font-size: 25px;
  font-weight: 600;
}


#nav-icon4 {
  width: 40px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 25px;
  left: 8px;
}

.react1 {
  display: flex;
}

.react1 .react-img {
  height: 50px;
  width: 49px;
  padding: 11px;
  margin-right: 10px;
}

.react1 .react-info {
  width: 400px;
}

.react1-1 {
  display: flex;
  margin-top: 15px;
  margin-left: 23px;
}

.react1-1 .react-img-2 {
  height: 50px;
  width: 49px;
  padding: 11px;
  margin-right: 10px;
}

.react1-1 .react-info {
  width: 470px;
}

@media (max-width:450px) {

  .navbar {
    display: flex !important;
    position: fixed;
    width: 100%;
    z-index: 10000000;  }

  #nav-icon4 {
    display: flex;
  }

  .navbar #nav-icon4 {
    margin: 0;
    margin-left: auto;
    justify-content: flex-start;
  }

  .navbar ul {
    display: none;
  }

  .header {
    display: none;
  }

  .welcome {
    margin: 0;
    text-align: center;
  }

  .app2 {
    margin: 0;
    font-size: 32px;
  }

  .fas {
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .home-page-background {
    min-height: 65vh;
  }

  .about-me-text {
    font-size: 55px;
    margin-left: 0px;
  }

  .about-me-2 {
    margin-left: 0;
    font-size: 35px;
    margin-top: -77px;
  }

  .about-me-2:after {
    left: 30%;
    width: 40%;
  }

  .about-me-3 {
    margin-left: 0px;
    width: unset;
    text-align: center;
    font-size: 1.90rem;
  }

  .fa-chevron-down {
    margin-top: 100px;
  }

  .about-me {
    height: 1100px;
  }

  .about-me-4 {
    margin-left: 0px;
    width: 100%;
    text-align: center;
  }

  .about-table ul {
    margin-top: 10px;
    margin-right: 19px;
    margin-left: -10px;
    margin-bottom: 50px;
  }

  .counter {
    margin-right: 20px;
    padding: unset;
    padding-right: 20px;
    width: unset;
  }

  .counter-2 {
    width: 42%;
  }

  .counter-2 span {
    margin: unset;
  }

  .what-i-do-2 {
    margin: 0;
    margin-top: -78px;
    text-align: center;
  }

  .what-i-do-2:after {
    left: 38%;
    width: 22%;
  }

  .react {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }

  .react-img-2 {
    margin-left: 0px;
  }

  .resume-back-text {
    text-transform: uppercase;
    opacity: .1;
    color: #6c757d !important;
    margin-left: 5%;
    text-align: center;
    font-size: 59px;
    font-weight: 600;
    padding-top: 5%;
  }

  .resume-front {
    color: white !important;
    margin-left: 29%;
    margin-top: -22%;
    font-size: 40px;
    font-weight: 600;
    padding: 10px 20px;
    position: relative;
  }

  .resume-front:after {
    left: 16%;
    width: 32%;
    bottom: 7px;
  }
  .ex-ed{
    margin-left: 4%;
    display: flex;
    flex-direction: column;
  }
  .first-education{
    width: 343px;
    height: 245px;
    margin-top: 2rem;
  }
  .education span{
    margin-left: 10px;
    font-size: 30px;
  }
  .experience span{
    margin-left: 10px;
    margin-bottom: -10px;
    margin-top: 20px;
    font-size: 30px;
  }
  .ex-ed .experience{
    margin-left: 0px;
  }
  .resume{
    height: 2500px;
  }
  .skills{
    flex-direction: column;
    margin-left: 5%;
  }
  .skils-2 {
    margin-top: 7px;
}
  .skills .skils-2{
    margin-left: 0px;
  }
  .skill-perc{
    width: 345px;
  }
  .skill-name-perc span{
    margin-left: 70%;
  }
  .testimonoal-text{
    font-size: 60px;
    margin-left:0px;
  }
  .get-in-touch{
    margin-top: -80px;
    margin-left: 50px;
  }
  .get-in-touch:after{
    left: 14%;
    width: 50%;
  }
  .testimonial{
    height: 900px;
  }
  .form{
    margin-top: 0px;
    margin-left: 0px;
  }
  .info{
    display: flex;
    flex-direction: column-reverse;
  }
  .form-1{
    flex-direction: column;
  }
  .name-form{
    background: #232a31;
    border-color: #232a31;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 10px 100px 10px 20px;
    margin: 0px auto;
    margin-top: 34px;
    margin-left: 25px;
  }
  .email-form{
    background: #232a31;
    border-color: #232a31;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 10px 100px 10px 20px;
    margin: 0px auto;
    margin-top: 25px;
    margin-left: 25px;  
  }
  .textarea{
    padding: 10px 120px 30px 27px;
    margin: 0px 28px;
    margin-top: 20px;
    background: #232a31;
    border-color: #232a31;
    border: none;
    color: #fff;
    border-radius: 5px;
  }
  .submit-button{
    margin-top: 10px;
    margin-left: 4.5rem;
    padding: 10px 80px;
    border-radius: 30px;
    background-color: #20c997;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
  }
  .personal-info{
    margin-left: 0px;
    font-size: 30px;
    margin-left: -35px;
  }
  .mobile-number{
    margin-top: 5rem;
    font-size: 20px;
    margin-left: 21%;
  }
  .mail{
    font-size: 20px;
    margin-left: 21%;
  }
  .follow-me{
    margin:0 auto;
    margin-top: 20px;
  }
  .copy-right{
    margin-left: 0px;
    padding-top: 30px;
    text-align: center;
  }
  .footer {
   height: 185px;
  }
  .footer-btns{
    margin-top: 83px;
    text-align: center;
    margin-left: 16px;
  }
  .copy-right p{
    margin: 0 20px;
  }

  .nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22px;
    width: 22px;
  }
  
  .nav-toggle .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    transition: all 100ms ease-in-out;
  }
  
  .nav-toggle:hover {
    cursor: pointer;
  }
  
  .x:nth-of-type(1) {
    transition: all 100ms ease-in-out;
    transform: rotate(45deg);
    transform-origin: top left;
    width: 28px;
  }
  
  .x:nth-of-type(2) {
    transition: all 100ms ease-in-out;
    transform-origin: center;
    width: 0;
  }
  
  .x:nth-of-type(3) {
    transition: all 100ms ease-in-out;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    width: 28px;
  }
  .option-1{
    padding-top: 0;
  }
  .mob-menu{
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 20px;
    background-color: #111418;
    padding-top: 90px;
    position: fixed;
    width: 100%;
  }
  .options {
    padding: 15px 0px ;
  }
  .mob-menu li {
    border-bottom: 1px solid hsla(0,0%,98%,.15);

  }
  .mob-menu li:last-child {
    border: none;
  }
  .mob-menu li a{
    text-decoration: none;
    color: #fff;
  }
}