html{
  scroll-behavior: smooth;
}
.header-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #111418;
  position: fixed;
  height: 100%;
  overflow: auto;
  padding-top: 20px;
}

.options {
  display: block;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
}

.prof-image {
  width: 150px;
  height: 140px;
  border-radius: 50%;
  border: 15px solid #343a40;
  margin-left: 19%;
  margin-top: 10%;
}

.name {
  color: white;
  margin-left: 14%;
  font-size: 2.1rem !important;
}

.header-nav .options {
  margin-top: 4%;
  margin-left: 35%;
}

.option-1 {
  padding-top: 70%;
}

.social-icons {
  display: inline-flex;
  margin-top: 90%;
}

.icons {
  color: white;
  margin-left: 45%;
}

.icon-1 {
  padding-left: 30%;

}

.icons {
  color: #aab1b8 !important;
}

.app2 {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  margin-left: 15%;
}

.home-page-background {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg');
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  min-height: 100vh;
  transition: background-image .3s ease-in .2s;
}

.welcome {
  margin-left: 52%;
  color: white;
  font-size: 39px;
  padding-top: 17%;
}

.fas{
  margin-left: 56%;
  color: #fff;
  font-size: 30px;
  position: relative;
  padding-top: 20%;
  animation-name: arrowdown;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  font-weight: 100;
  opacity: 1;
}
@keyframes arrowdown{
  0%   {top:0px;transform: translateY(0);}
  
  100% {opacity: 0;transform: translateY(40px);}
}
.about-me{
  width: 100%;
  height: 800px;
  background-color: #212529;
}
.about-me-text{
  text-transform: uppercase;
  opacity: .1;
  color: #6c757d !important;
  margin-left: 40%;
  font-size: 120px;
  font-weight: 600;
  padding-top: 5%;
}
.about-me-2{
  color: white !important;
  margin-left: 47%;
  margin-top: -6%;
  font-size: 40px;
  font-weight: 600;
  padding: 10px 20px;
  position: relative;
}
.about-me-2:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 10%;
  width: 13%;
  border-bottom: 3px solid #20c997;
}
.about-me-3{
  margin-left: 25%;
  color: #fff;
  margin-top: 5%;
  font-size: 1.75rem;
  font-weight: 600;
  width: 50%;
}
.about-me-3 span{
  color: #20c997;
}
.about-me-4{
  color: hsla(0,0%,100%,.5) !important;
  width: 45%;
  margin-left: 25%;
  line-height: 1.8;
  font-size: 18px;
}
.delivering{
  margin-top: 10px;
}
.about-table ul{
  color: #fff;
  float: right;
  margin-right: 8%;
  margin-top: -12%;
  list-style: none;

}
.about-table ul li{
  margin-top: 20px;
  font-size: 20px;
  border-bottom: 1px solid hsla(0,0%,98%,.12);
  padding-bottom: 10px;
}
.about-table ul li span{
  font-weight: 600;
}
.about-table ul li a{
  text-decoration: none;
  color: #20c997;
}
.about-table ul li:nth-child(4){
border: none;
}
.cv-button{
  padding: 15px 40px;
  border: none;
  border-radius: 30px;
  margin-top: 20px;
  background-color: #20c997;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  transition: all .5s;
}
.cv-button:hover{
  color: #fff;
  background-color: #1baa80;
  cursor: pointer;
}
.header-nav li a{
  text-decoration: none;
  color: #fff;
  transition: all .5s;
}
.header-nav li a:hover{
  color: #20c997;
}
.counter{
margin-left: 35% !important;
margin-top: 5%;
color: #fff;
font-size: 40px;
width: 30%;
border-right: 1px solid white;
}
.counter span{
  margin-left: 25%;
  font-size: 4rem;
}
.counters{
  display: flex;
  margin-left: 25%;
}
.counter-2{
  margin-left: 15% !important;
  margin-top: 5%;
  color: #fff;
  font-size: 40px;
  width: 20%;

}
.counter-2 span{
  margin-left: 2%;
  font-size: 4rem;
}
.counter-2 h4{
 color: #dee3e4;
}
.counter h4{
  color: #dee3e4;
}
.counter-2 span{
  color: hsla(0,0%,100%,.5);
}
.counter span{
  color: hsla(0,0%,100%,.5);
}
.counters{
  margin-top: 30px;
}
.what-i-do{
  width: 100%;
  height: 800px;
  background-color: #343a40 !important;
}
.what-i-do-2{
  color: white !important;
  margin-left: 47%;
  margin-top: -6%;
  font-size: 40px;
  font-weight: 600;
  padding: 10px 20px;
  position: relative;
}
.what-i-do-2:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 5%;
  width: 13%;
  border-bottom: 3px solid #20c997;
}
.react{
  margin-left: 25%;
  margin-top: 5%;
  color:#fff;
}
.react p{
  color: hsla(0,0%,100%,.5) !important;
}
.react{
display: flex;
}
.react-img{
  width: 4%;
height: 2%;
border-radius: 5px;
margin-top: 7px;
background-color: #212529;
padding: 10px;
}
.react-info{
  margin-left: 1%;
}